.footer {
    border: 1px solid black;
    background-color: var(--tertiaryColor);
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
