.atom-textAreaInput {
    display: flex;
    flex: 1;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.atom-textAreaInput .input {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.atom-textAreaInput textarea {
    flex: 1;
    border: 1px solid black;
    border-radius: 10px;
    padding: 7.5px;
    font-family: OpenSans-regular;
    resize: none;
}
.atom-textAreaInput textarea:active, .atom-textAreaInput textarea:focus {
    outline: 2.5px solid var(--primaryColor);
}
