.login-bg {
    display: flex;
    flex: 1;
    background-image: url('../../assets/images/bgTest.jpg');
}

.login {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #5F7F5FCC;
}

.login .box {
    display: flex;
    padding: 100px;
    background-color: #C3F3C3BF;
    border-radius: 25px;
    box-shadow: 0px 10px 10px 0px #00000040;
}

.login .left {
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login .textTitle {
    text-align: center;
}

.login .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.login .icon {
    height: 100px;
    width: 100px;
}

.login .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login .input:first-child {
    margin-bottom: 50px;
}

.login .input .textLabel {
    margin-bottom: 15px;
}

.login input {
    width: 375px;
    padding: 7.5px;
    border: 1px solid black;
    border-radius: 12.5px;
}
.login input:focus, .login input:active {
    outline: 2.5px solid var(--primaryColor);
}

.login form div:nth-child(3) {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login button {
    padding: 7.5px;
    background-color: var(--primaryColor);
    border: 1px solid black;
    border-radius: 12.5px;
}
.login button:hover {
    background-color: var(--primaryColorHover);
    cursor: pointer;
}
