.atom-textInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.atom-textInput .input {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.atom-textInput input {
    display: flex;
    padding: 7.5px;
    border: 1px solid black;
    border-radius: 10px;
}
.atom-textInput input:focus, .atom-textInput input:active, .atom-textInput .err:focus, .atom-textInput .err:active {
    outline: 2.5px solid var(--primaryColor);
}

.atom-textInput .err {
    width: 375px;
    padding: 7.5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--errInputBgColor);
}

.atom-textInput input:disabled {
    background-color: var(--disabledBgColor);
}

.atom-textInput .textErrMsg {
    white-space: initial;
}
