.dashboard {
    background-color: var(--secondaryColor);
    width: 275px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.dashboard .item {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    border-right: 0;
}
.dashboard .item:hover {
    cursor: pointer;
    background-color: var(--primaryColor);
}
.dashboard .item:first-child {
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid black;
    border-right: 0;
    border-top-right-radius: 20px;
    font-family: OpenSans-semibold;
}
.dashboard .item:first-child:hover {
    border-top-right-radius: 20px;
}
.dashboard .item:last-child {
    border-bottom: 2px solid black;
}

.dashboard .item-selected {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    border-right: 0;
    background-color: var(--primaryColor);
}
.dashboard .item-selected:first-child {
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid black;
    border-right: 0;
    border-top-right-radius: 20px;
    font-family: OpenSans-semibold;
}

.dashboard .logout {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
    border-right: 0;
    border-left: 0;
    background-color: #EE7777;
}
.dashboard .logout:hover {
    cursor: pointer;
    background-color: #CC5555;
}
