.dashboard {
    background-color: var(--secondaryColor);
    width: 275px;
    border: 1px solid black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard .title {
    padding: 25px;
    text-align: center;
    font-family: OpenSans-semibold;
    font-size: var(--labelFontSize);
    border-top-right-radius: 20px;
    border-bottom: 1px solid black;
}
.dashboard .title:hover {
    background-color: var(--primaryColor);
    cursor: pointer;
    border-top-right-radius: 20px;
}

.dashboard .item {
    padding: 20px;
    text-align: center;
    font-size: var(--labelFontSize);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.dashboard .item:last-child {
    border-bottom: 2px solid black;
}
.dashboard .item:hover {
    background-color: var(--primaryColor);
    cursor: pointer;
}

.dashboard .logout {
    font-size: var(--labelFontSize);
    margin-bottom: 50px;
    padding: 20px;
    color: white;
    text-align: center;
    background-color: #CC4747;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.dashboard .logout:hover {
    background-color: #FF4747;
    cursor: pointer;
}
