.daftarPasienBaru {
    flex: 1;
    padding: 50px;
}

.con:first-child {
    margin-top: 0;
}
.con {
    margin-top: 50px;
    padding: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.con .title {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    background-color: var(--secondaryColor);
    margin-bottom: 25px;
}

.con form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.con .form-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 25px;
}

.con .form-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 25px;
}

.con .input, .con .input-err {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.con .input:last-child, .con .input-err:last-child {
    margin-bottom: 0;
}

.con .input-err h4, .con .input-textarea-err h4 {
    margin-top: 2.5px;
    color: var(--errFontColor);
    font-style: italic;
    width: 450px;
}

.con .input input {
    padding: 10px;
    width: 100%;
    width: 430px;
    font-size: var(--inputFontSize);
    border: 1px solid black;
    border-radius: 10px;
}
.con .input input:active, .con .input input:focus, .con .input-err input:active, .con .input-err input:focus {
    outline: 2.5px solid var(--primaryColor);
}

.con .input-err input {
    padding: 10px;
    width: 100%;
    width: 430px;
    font-size: var(--inputFontSize);
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--errBgColor);
}

.con .input select:hover, .con .input-err select:hover {
    cursor: pointer;
}
.con .input select:focus, .con .input-err select:focus {
    outline: 2.5px solid var(--primaryColor);
}

.con .input-radiobutton {
    width: 450px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.con .input-radiobutton .item:hover {
    cursor: pointer;
}

.con .input-radiobutton .item {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 15px;
}
.con .input-radiobutton .item:last-child {
    margin-right: 0;
}

.con .input-radiobutton .item-dot {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 100%;
    display: inline-block;
    margin-right: 10px;
}

.con .input-radiobutton .item-dot-selected {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 100%;
    display: inline-block;
    margin-right: 10px;
    background-color: var(--primaryColor);
}

.con .input-radiobutton .item h2 {
    font-size: var(--inputFontSize);
}

.con .input select {
    width: 452.5px;
    padding: 10px;
    font-size: var(--inputFontSize);
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.con .input-err select {
    width: 452.5px;
    padding: 10px;
    font-size: var(--inputFontSize);
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--errBgColor);
}
.con .input-err select:focus {
    background-color: white;
}

.con .input-date{
    display: flex;
    width: 450px;
    align-items: center;
    justify-content: space-between;
}

.con .input-date .date input {
    width: 37.5px;
    background-color: white;
}

.con .input-date .date-err input {
    width: 37.5px;
    background-color: var(--errBgColor);
}

.con .input-date .month select {
    width: 250px;
    background-color: white;
}

.con .input-date .month-err select {
    width: 250px;
    background-color: var(--errBgColor);
}
.con .input-date .month-err select:focus {
    background-color: white;
}

.con .input-date .year input {
    width: 87.5px;
    background-color: white;
}

.con .input-date .year-err input {
    width: 87.5px;
    background-color: var(--errBgColor);
}

.con .input-textarea, .con .input-textarea-err {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.con .input-textarea textarea {
    width: 430px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: var(--inputFontSize);
    font-family: OpenSans-regular;
    resize: none;
}
.con .input-textarea textarea:focus, .con .input-textarea-err textarea:focus {
    outline: 2.5px solid var(--primaryColor);
}

.con .input-textarea-err textarea {
    width: 430px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: var(--inputFontSize);
    font-family: OpenSans-regular;
    resize: none;
    background-color: var(--errBgColor);
}

.con .button-clear {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

.con .button-clear button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: var(--inputFontSize);
    background-color: var(--tertiaryColor);
    border: 1px solid black;
    border-radius: 10px;
}
.con .button-clear button:hover {
    background-color: var(--tertiaryColorHover);
    cursor: pointer;
}

.daftarPasienBaru .button-submit, .daftarPasienBaru .button-submit-err {
    margin-top: 50px;
    display: flex;
}

.daftarPasienBaru .button-submit button {
    flex: 1;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: var(--inputFontSize);
    background-color: var(--primaryColor);
    cursor: pointer;
}
.daftarPasienBaru .button-submit button:hover {
    flex: 1;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: var(--inputFontSize);
    background-color: var(--primaryColorHover);
    cursor: pointer;
}

.daftarPasienBaru .button-submit-err button {
    flex: 1;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: var(--inputFontSize);
    background-color: var(--errBgColor);
    cursor: pointer;
}
