main {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 25px;
}

.contentFull {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 2.5px 5px 2.5px #00000040;
}

.contentFull form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.contentFull form .form {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.contentFull form .form:last-child {
    margin-left: 25px;
}
