.atom-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.atom-select .tab {
    margin-left: 25px;
}

.atom-select .input {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.atom-select select {
    display: flex;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 7.5px;
    color: var(--placeholderColor);
}
.atom-select .selected {
    color: black;
}
.atom-select select:active, .atom-select select:focus {
    outline: 2.5px solid var(--primaryColor);
    color: black;
}
.atom-select select:hover {
    cursor: pointer;
}

.atom-select select.disabled {
    background-color: var(--disabledBgColor);
}
.atom-select select.disabled:hover {
    cursor: default;
}

.atom-select .err {
    background-color: var(--errBgColor);
}
