.atom-buttonList {
    display: flex;
    justify-content: space-between;
}

.atom-buttonList.direction-row {
    flex-direction: row;
}

.atom-buttonList.direction-col {
    flex-direction: column;
}

.atom-buttonList.align-start {
    justify-content: flex-start;
}

.atom-buttonList.align-end {
    justify-content: flex-end;
}
.atom-buttonList.align-end div {
    flex: 0;
}

.atom-buttonList .option, .atom-buttonList .option-selected {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 7.5px;
    border-radius: 10px;
    min-width: 150px;
}
.atom-buttonList .option:hover {
    cursor: pointer;
    background-color: var(--primaryColor);
}

.atom-buttonList.direction-row .option, .atom-buttonList.direction-row .option-selected {
    margin-right: 15px;
}
.atom-buttonList.direction-row .option:last-child, .atom-buttonList.direction-row .option-selected:last-child {
    margin: 0;
}

.atom-buttonList.direction-col .option, .atom-buttonList.direction-col .option-selected {
    margin-bottom: 15px;
}
.atom-buttonList.direction-col .option:last-child, .atom-buttonList.direction-col .option-selected:last-child {
    margin: 0;
}

.atom-buttonList .option-selected {
    background-color: var(--primaryColor);
}
