.atom-button, .atom-button-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 7.5px;
    border-radius: 10px;
}
.atom-button:hover {
    cursor: pointer;
    background-color: var(--primaryColor);
}

.atom-button-selected {
    background-color: var(--primaryColor);
}
