@font-face {
    font-family: 'OpenSans-light';
    src: local('OpenSans-light'), url('./assets/fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-regular';
    src: local('OpenSans-regular'), url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-medium';
    src: local('OpenSans-medium'), url('./assets/fonts/OpenSans-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-semibold';
    src: local('OpenSans-semibold'), url('./assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-bold';
    src: local('OpenSans-bold'), url('./assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

:root {
    --primary: #77EE77;
    --secondary: #C3F3C3;
    --tertiary: #5F7F5F;

    --primaryHover: #66CC55;
    --secondaryHover: #A1D1A1;
    --tertiaryHover: #3D5D3D;

    --inputError: #F3C3C3;

    --buttonFontSize: 25px;
    --inputFontSize: 25px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: white;
    height: 100vh;
    width: 100%;
    font-family: "OpenSans-regular";
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

* {
    margin: 0;
}

h1 {
    font-size: 37.5px;
}

h2 {
    font-size: 31.5px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}
