.loket {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    background-color: #D3D3D3;
}

.dashboard-main {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.footer {
    height: 50px;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
}
