.header-bg {
    background-image: url('../../../assets/images/bgTest.jpg');
}

.header {
    background-color: #5F7F5FCC;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    border: 1px solid black;
}

.header h1 {
    font-family: OpenSans-semibold;
    color: white;
}

.header h2 {
    color: white;
}
