.header-bg {
    background-image: url('../../../assets/images/bgTest.jpg');
    height: 100px;
    display: flex;
    width: 100%;
}

.header {
    background-color: #5F7F5FCC;
    color: white;
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    border: 1px solid black;
}

.header div:first-child {
    margin-right: 50px;
}
